.header {
  background-image: url('../../images/headerBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 136px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  width: 233.82px;
  height: 103px;
}